@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url("../fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
}

/* Colors */

.color-bg-secondary {
  background-color: #f9f9fc;
}

.color-bg-white {
  background-color: #ffffff;
}

.color-bg-purple {
  background-color: #7b57df !important;
}

.color-text-purple {
  color: #7b57df !important;
}

.color-text-main {
  color: #2b2d33 !important;
}

.color-text-dark {
  color: #1b2149 !important;
}

.color-text-gray {
  color: #555a65 !important;
}

/* Fonts */

.text-bold {
  font-family: "Gilroy-Bold", sans-serif !important;
}

.text-semibold {
  font-family: "Gilroy-Semibold", sans-serif !important;
}

.text-medium {
  font-family: "Gilroy-Medium", sans-serif !important;
}

.text-regular {
  font-family: "Gilroy-Regular", sans-serif !important;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 16px;
}

/* Navbar */

nav {
  width: inherit;
  max-width: inherit;
  margin: 0 auto;
  height: 80px;
}

.nav-link {
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #b3a1e5 !important;
}

.underline {
  bottom: 7px;
  left: 5%;
  width: 90%;
  height: 3px;
  background-color: #7b57df;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease;
}

.navbar-toggler {
  border: none;
  background-color: #f0eefa;
  width: 38px;
  height: 38px;
}

.navbar-menu-icon {
  top: 1px;
  left: 4px;
}

.active-underline {
  transform: scaleX(1);
}

.active {
  color: #7b57df !important;
}

.active:hover {
  color: #7b57df !important;
}

/* Sections */

.filler {
  height: 80px;
}

section {
  padding: 100px 0;
}

#solutions {
  padding: 0;
}

#welcome {
  padding-bottom: 60px;
}

#about {
  padding-top: 0;
}

#contacts {
  padding-top: 0;
}

#contacts .panel {
  padding-top: 60px;
}

/* Buttons */

.btn {
  background-color: #7b57df;
  color: white;
  border: none;
  min-height: 57px;
  min-width: 300px;
  border-radius: 5px;
  border-radius: 45px;
  font-family: "Gilroy-Semibold", sans-serif;
}

.btn:hover {
  background-color: #9576eb;
  color: white;
}

/* Welcome */

#welcome h1 {
  width: 888px;
}

/* Solutions */

#solutions .solution:nth-child(3) {
  padding: 200px 0;
}

.solution {
  padding: 100px 0;
}

.solution-text {
  padding-top: 100px;
}

.solution-list {
  margin-top: 40px;
}

.solution .btn {
  margin-top: 40px;
}

.solution-list h6 {
  position: relative;
  padding-left: 25px;
  height: 62px;
}

.solution-list h6::before {
  position: absolute;
  content: url("../images/mark.svg");
  left: 0;
}

#phone-photo {
  bottom: -100px;
  right: 0;
  z-index: 2;
  max-width: 369px;
  width: 25vw;
}

#phone-photo2 {
  bottom: -100px;
  right: 183px;
  z-index: 1;
  max-width: 369px;
  width: 25vw;
}

#laptop-photo {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 699px;
  width: 48vw;
}

#ipad-photo {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 671px;
  width: 46vw;
}

#registration-photo {
  right: 70px;
  top: 50px;
  max-width: 561px;
  width: 39vw;
}

/* Partners */

#partners img {
  align-self: center;
  filter: brightness(0) saturate(100%) invert(71%) sepia(31%) saturate(250%)
    hue-rotate(195deg) brightness(95%) contrast(91%);
  transition: filter 0.1s ease;
}

#partners img:hover {
  filter: none;
}

/* LinkedIn Icon */

.linkedin-icon svg path {
  fill: #c3c8e6;
  transition: fill 0.3s ease;
}

.linkedin-icon:hover svg path {
  fill: #0a66c2;
}

footer .linkedin-icon svg {
  width: 24px;
  height: 24px;
}

/* Team */

#team img.img-fluid {
  border-radius: 7px;
  transition: transform 0.4s ease;
}

#team img.img-fluid:hover {
  transform: scale(1.05);
  cursor: none;
}

.team-row {
  width: 50%;
}

.member-type-1 {
  width: 79%;
}

.member-type-2 {
  width: 98%;
}

/* Contacts */

#contacts input,
#contacts textarea {
  border: 1px solid #f0eefa;
  border-radius: 6px;
}

#contacts input {
  height: 40px;
  padding: 13px 18px;
}

#contacts textarea {
  padding: 6px 12px;
}

::placeholder {
  color: #c3c8e5 !important;
  font-size: 16px;
  font-family: "Gilroy-Medium", sans-serif !important;
}

#up-arrow {
  bottom: 5%;
  right: 3%;
}

/* Footer */

footer .nav-link {
  font-size: 14px;
}

/* Mobile */

@media (max-width: 767px) {
  .underline {
    left: 0;
    width: 100%;
  }

  #navbarSupportedContent {
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
  }

  nav {
    height: 54px;
  }

  .btn {
    min-height: 45px;
    min-width: 236px;
  }

  section,
  .solution,
  #solutions .solution:nth-child(3) {
    padding: 40px 0;
  }

  #welcome {
    padding-bottom: 40px;
  }

  #welcome h1 {
    width: 290px;
  }

  #welcome h5 {
    width: 290px;
  }

  #solutions {
    padding: 0;
  }

  .solution-list {
    margin-top: 30px;
  }

  .solution .btn {
    margin-top: 30px;
  }

  #contacts .panel {
    padding-top: 40px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 26px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .mobile-small {
    font-size: 14px;
  }

  #partners img {
    filter: none;
  }

  #partners .d-flex {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  #why-us img {
    width: 44px;
  }

  .member {
    width: 240px;
  }

  .member img {
    width: 240px;
    height: 280px;
    border-radius: 7px;
    object-fit: cover;
  }

  #team img.img-fluid {
    transition: none;
  }

  #team img.img-fluid:hover {
    transform: none;
  }

  .team-row {
    width: auto;
  }

  #contacts {
    background-color: #f9f9fc;
  }

  #contacts .btn {
    min-width: 50% !important;
    width: 65% !important;
    margin: 0 auto;
  }

  footer {
    background-color: white !important;
  }

  #footer-inner {
    height: 54px;
  }
}

/* Tablet */

@media (min-width: 768px) and (max-width: 991px) {
  #navbarSupportedContent {
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
  }

  .container {
    max-width: 90vw;
  }

  #partners img {
    filter: none;
  }

  #welcome h1 {
    width: 615px;
  }

  #contacts {
    background-color: #f9f9fc;
  }

  #contacts .btn {
    min-width: 50% !important;
    width: 65% !important;
    margin: 0 auto;
  }

  footer {
    background-color: white !important;
  }
}

/* Desktop Small */

@media (min-width: 992px) and (max-width: 1199px) {
  #laptop-photo {
    width: 42vw;
  }

  #ipad-photo {
    width: 38vw;
  }

  #registration-photo {
    top: 130px;
    right: 0;
    width: 30vw;
  }

  #partners img {
    filter: none;
  }
}
